<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div class="card m-3">
        <h5 class="card-header">Пример пресметка</h5> 
    <table class="table table-hover">
        <thead>
            <tr class="bg-info"> 
                <th scope="col"></th>
                <th scope="col">1</th> 
                <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
                <th scope="col">5</th> 
                <th scope="col">6</th> 
                <th scope="col">7</th> 
                <th scope="col" class="btn-action"></th>
              </tr>
          <tr class="bg-info"> 
            <th scope="col">#</th>
            <th scope="col">Вид и опис на стока</th> 
            <th scope="col">Един.Мерка и количина </th>
            <th scope="col">Единечна Цена без ддв.</th>
            <th scope="col">вкупна количина по Един.Мерка</th>
            <th scope="col">стапка на ддв (5%/18%)</th> 
            <th scope="col">Вкупна цена без ддв</th> 
            <th scope="col">Вкупно ддв</th> 
            <th scope="col" class="btn-action"></th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of items.controls; let i = index">
                <tr class="list-group list-group-flush" [formGroup]="item" class="bg-primary"> 
                    <th scope="row">{{i + 1}}</th>
                    <td class="align-middle">
                        <input type="text" formControlName="subject" 
                        title="Предмет на набавката односно опис на стоката која се побарува и можеби состави или грамажа"
                        placeholder="Предмет на набавка" class="form-control"/> 
                    </td>  
                    <td class="align-middle" >  
                            <select id="measureAndAmount" 
                                    class="form-control" 
                                    title="Единечна мерка и кочина на производот , на пример може да биде килограм „кг“ , литар „лт“ и број „бр“ "
                                    formControlName="measureAndAmount"
                                    required>
                              <option *ngFor="let option of measureAndAmount" 
                                      [value]="option.value" class="align-center"
                                      [title]="option.display">
                                    {{option.display}}
                              </option> 
                            </select>
                    </td> 
                    <td class="align-middle">
                        <input type="number" 
                        title="Цена по единица производ - Пример колку е цената на Литар Млеко , или килограм јаболка"
                        formControlName="priceBeforeTax" 
                        placeholder="единечна цена цез ддв" 
                        class="form-control" 
                         onkeydown="return event.keyCode !== 69"
                         required/> 
                    </td> 
                    <td class="align-middle">
                        <input type="number" formControlName="totalRequired" placeholder="вкупна побарана количина од производ" class="form-control" 
                        title="вкупна побарана количина од производ.Пример за литар Млеко се пишува 60 автоматски се пресметува во литри"
                         onkeydown="return event.keyCode !== 69"
                         required/> 
                    </td> 
                    <td class="align-middle"> 
                        <select id="ddvRate" 
                        title="Стапката на ддв по која треба да се пресмета овој производ"
                        class="form-control"  
                        formControlName="ddvRate"
                        required>
                  <option *ngFor="let option of ddvRate" 
                          [value]="option.value" class="align-center"
                          [title]="option.display">
                        {{option.display}}
                  </option> 
                </select>
                    </td>
                    <td class="align-middle">
                        <input type="number" 
                        [value]="item.get('priceBeforeTax').value * item.get('totalRequired').value" 
                        class="form-control" 
                        placeholder="вкупна цена без ддв"
                        disabled
                        title="Вкупната цена на ставката без вклучено ддв"
                          /> 
                    </td> 
                    <td class="align-middle">
                        <input type="number" 
                        [value]="item.get('priceBeforeTax').value * item.get('totalRequired').value * item.get('ddvRate').value"
                        class="form-control" 
                        placeholder="вкупнo ддв"
                        disabled
                        title="Вкупно ддв"
                          /> 
                    </td>   
                    <td class="align-middle btn-action">  
                        <button class="btn btn-danger" type="button" (click)="remove(i)">Избриши 
                        </button> 
                    </td> 
                  </tr>  
            </ng-container >  
            
                <ng-container *ngIf="result$ | async as result">
                    <tr class="list-group list-group-flush">  
                   
                        <td class="align-middle">
                              
                        </td>  
                        <td class="align-middle">
                             
                        </td> 
                        <td class="align-middle">
                            
                        </td> 
                        <td class="align-middle">  
                                
                        </td> 
                        <td class="align-middle">
                            Вкупна цена без ддв
                        </td> 
                        <td class="align-middle"> 
                             {{result.priceBeforeDDV}}
                        </td> 
                        <td class="align-middle btn-action">  
                            Вкупнo ддв
                        </td> 
                        <td class="align-middle btn-action">  
                            {{result.priceAfterDDV}}
                        </td> 
                      </tr>  
                </ng-container> 
           
            
        </tbody>
      </table>  
        <div class="card-footer text-center"> 
            <button class="btn btn-success" type="button" (click)="addNewItem()" [disabled]="!dynamicForm.valid">Додади Нов</button>
            <button class="btn btn-warning" type="reset" (click)="onReset()">Исчисти се</button> 
        </div>
    </div>
</form> 